#clearButton {
    background-color: crimson;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#clearButton:hover {
    background-color: rgb(187, 89, 82);
}

#basemapLanguage {
    width: 200px;
    padding: 10px;
    background-color: white;
}

